
$colorDefaultBlue: #688cee;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorMPurple: #865acd;
$colorDarkGrey: #727272;
$colorDeepGrey: #353535;
$colorGrey: #d4d4d4;
$backgroundColorLightGrey: #F2F2F2;
$backgroundColorDeepGrey: #2D323E;
$backgroundColorLightBlue: #28B4F4;

/* Left Sidebar */
$leftSidebarWidth: 268px;

/* Screen Size */
$large-screen-max: 1920px;
$medium-screen-max: 1280px;

// Navigation Height
$nav-height-lg-screen: 83px;
$nav-height-md-screen: 80px;

/* Font Weights */
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-black: 900;